{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Востребованность</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
{% for nav in navigation %}

<header>
    <div class="profession">{{ nav.title|safe }}</div>
    <img class="logotype" src="{% static 'images/logotip.png' %}">
</header>
<main>
    <div class="body">
        <div class="navigation">
            <div class="profession" style="left: -120px; color: #E8A87C; font-size: 25px">{{ nav.title|safe }}</div>
            <img class="logotype" style="top:55px; left: 85px" src="{{ nav.logo_field.url }}">
            <nav>
                <ul>
                    <li><a id="navigate_page" href="/">{{ nav.first_menu }}</a></li>
                    <li><a href={% url 'demend' %}>{{ nav.second_menu }}</a></li>
                    <li><a href={% url 'geography' %}>{{ nav.thierd_menu }}</a></li>
                    <li><a href={% url 'skills' %}>{{ nav.fourth_menu }}</a></li>
                    <li><a href={% url 'lastVacancy' %}>{{ nav.fifth_menu }}</a></li>
                </ul>
                <p class="author_foot">{{ nav.author|safe }}</p>
            </nav>
        </div>
{% endfor %}
<div class="main_text" style="margin-top: 5%; margin-left: 12%">
           {% for demand in demand_info %}
            <img class="first_graph_demend" src="{{ demand.photo1.url }}"/>
            <img class="second_graph_demend" src="{{ demand.photo2.url }}"/>
            <div class="all_tables">
            {{ demand.content|safe }}
            </div>
        </div>
    </div>
   {% endfor %}
</main>
<footer>
</footer>
</body>
</html>